@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

body{
  height: 100%;
  width: 100%;
}

.card{
  width:60%;
  background-color: white;
  box-shadow: 0px 25px 44px 0px rgba(0,0,0,0.05);
  border-radius: 8px;
  min-width: 300px;
  justify-self: center;
}

.Input{
  box-sizing: border-box;
  margin: 10px;
  font-size: larger;
  border-style: none;
  border-radius: 4px;
  background-color: rgb(230, 230, 230);
  padding: 10px 25px 10px 25px;
  padding-left: 25px;
  width: 80%;
  transition: ease-in-out 0.225s;
  font-family: Montserrat;
  border-width: 0px;
  -webkit-appearance: none;
  touch-action: manipulation;
}

.Input:focus{
  outline-width: 0px;
  border-style: solid;
  border-width: 0px;  
  border-color: royalblue;
  box-shadow: 0px 7px 30px 0px rgba(52, 53, 53, 0.116);
}

.Button{
  margin: 10px;
  margin-bottom: 8%;
  font-size: larger;
  border-radius: 4px;
  padding: 10px 25px 10px 25px;
  padding-left: 25px;
  width: 80%;
  background-color: rgb(43, 194, 83);
  color: white;
  transition: ease-in-out 0.225s;
  font-family: Montserrat;
  border-width: 0px;
  box-shadow: 0px 15px 45px 0px rgba(0, 255, 8, 0.185);
  transition: ease-in-out 0.225s;
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  text-transform: uppercase;
}

.Button:hover{
  background-color: white;
  border-style: solid;
  color: #30D45D;
  font-weight: 600;
}

.Button:focus{
  outline-width: 0px;
}

.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 15px;
  padding-top: 15px;
  align-self: center !important;
}

.dual{
  height: 100%;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description{
  text-align: left;
  margin: 15%;
  font-size: 30px;
  font-weight: 200 ;
  color: white;
  text-shadow:  rgb(0, 0, 0);
}

.title{
  font-weight: 900;
  font-family: Montserrat;
  font-size: 60px;
}

body{
  background-image: url("./Assets/bg_main.jpg");
  background-size: cover;
  height: 1080px;
  width: 1920px;
  background-clip: content-box;
  overflow: hidden;
}

.filter{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 36, 36, 0.753);
  z-index: -5;
}

.toggles-container{
  display: flex;
  flex-direction: row;
  align-self: left;
  width: 100%;
  box-sizing: border-box;
  padding: 2% 0% 0% 10%;
}

.toggle{
  margin-right: 8%;
  cursor: pointer;
}

a.toggle{
  color: rgba(0, 0, 0, 0.5);
  text-decoration-line: none;
}

.active{
  font-weight: 600;
  color: #30D45D !important;
}

.line{
  margin: auto;
  position: relative;
  width: 0%;
  height: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  transition: ease-in-out 0.5s;
}

.toggle:hover .line{
  width: 100%;
}

form{
  align-self: center;
  text-align: center;
}

@media screen and (max-width: 1000px){
  .dual{
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }

  body{
    overflow-y: visible;
  }

  .card{
    width: 70%;
    min-width: 0;
  }

  .description{
    margin: 10% 5% 10% 5%;
    align-self: center;
    justify-self: center;
    word-wrap: normal;
  }
  
}